@model LojaVirtual.Models.Cliente
@{
    ViewData["Title"] = "Cadastro Cliente";
}
    <form  method="post">
        <main role="main">
            <section class="container" style="margin-top: 50px">
                <div class="row">
                    <aside class="col-sm-6">
                        <h3 class="subtitle-doc">
                            Cadastro Cliente
                        </h3>

                        

                        <div id="code_register_1">
                            <div class="card">
                                <header class="card-header">
                                    <a asp-controller="Home" asp-action="Login" class="float-right btn btn-outline-primary" mt-1>Entrar</a>
                                    <h4 class="card-title mt-2">Cadastro</h4>
                                </header>
                                <article class="card-body">
                                    @*@if (TempData["MSG_S"] != null)
        {
            <p class="alert alert-info">@Html.Raw(TempData["MSG_S"])</p>
        }*@
                                    @{ await Html.RenderPartialAsync("~/Views/Shared/_Mensagem.cshtml");}

                                    <div class="form-row">
                                        <div class="col form-group">
                                            <label asp-for="Nome">Nome</label>
                                            <input type="text" asp-for="Nome" class="form-control" placeholder="">
                                            <span asp-validation-for="Nome"></span>
                                        </div> <!-- form-group end.// -->
                                        <div class="col form-group">
                                            <label asp-for="Nascimento">Nascimento</label>
                                            <input type="text" asp-for="Nascimento" class="form-control" placeholder="">
                                            <span asp-validation-for="Nascimento"></span>
                                        </div> <!-- form-group end.// -->
                                    </div> <!-- form-row end.// -->
                                    <div class="form-group">
                                        <label asp-for="Sexo" class="form-check form-check-inline">
                                            <input class="form-check-input" asp-for="Sexo" type="radio" name="Sexo" value="F">
                                            <span class="form-check-label"> Feminino </span>
                                        </label>
                                        <label class="form-check form-check-inline">
                                            <input class="form-check-input" asp-for="Sexo" type="radio" name="Sexo" value="M">
                                            <span class="form-check-label"> Masculino</span>
                                        </label>
                                        <span asp-validation-for="Sexo"></span>
                                    </div> <!-- form-group end.// -->

                                    <div class="form-group >
                                        <label asp-for="CPF">CPF</label>
                                        <input type="text" asp-for="CPF" class="form-control">
                                        <span asp-validation-for="CPF"></span>
                                    </div> <!-- form-group end.// -->
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label asp-for="Telefone">Telefone</label>
                                            <input type="text" asp-for="Telefone" class="form-control">
                                            <span asp-validation-for="Telefone"></span>
                                        </div> <!-- form-group end.// -->
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Email">E-mail</label>
                                        <input type="text" asp-for="Email" class="form-control">
                                        <span asp-validation-for="Email"></span>
                                    </div>

                                    <div class="form-group">
                                        <div class="alert alert-danger" style="display:none" role="alert">
                                            A simple danger alert-check it ut!
                                        </div>

                                        <label asp-for="CEP">CEP</label>
                                        <input type="text" asp-for="CEP" class="cep">
                                        <span asp-validation-for="CEP"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="UF">UF</label>
                                        <input type="text" asp-for="UF" readonly class="form-control">
                                        <span asp-validation-for="UF"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Cidade">Cidade</label>
                                        <input type="text" asp-for="Cidade" readonly class="form-control">
                                        <span asp-validation-for="Cidade"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Logradouro">Endereço</label>
                                        <input type="text" asp-for="Logradouro" class="form-control">
                                        <span asp-validation-for="Logradouro"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Bairro">Bairro</label>
                                        <input type="text" asp-for="Bairro" readonly class="form-control">
                                        <span asp-validation-for="Bairro"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Complemento">Complemento</label>
                                        <input type="text" asp-for="Complemento" class="form-control">
                                        <span asp-validation-for="Complemento"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="LogradouroNumr">Número</label>
                                        <input type="text" asp-for="LogradouroNumr" class="form-control">
                                        <span asp-validation-for="LogradouroNumr"></span>
                                    </div>


                                    <div class="form-group">
                                        <label asp-for="Senha">Senha</label>
                                        <input class="form-control" asp-for="Senha" type="password">
                                        <span asp-validation-for="Senha"></span>
                                    </div> <!-- form-group end.// -->
                                    <div class="form-group">
                                        <label asp-for="ConfirmacaoSenha">Confirme a Senha</label>
                                        <input class="form-control" asp-for="ConfirmacaoSenha" type="password">
                                        <span asp-validation-for="ConfirmacaoSenha"></span>
                                    </div> <!-- form-group end.// -->
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-block"> Cadastrar </button>
                                    </div> <!-- form-group// -->

                                </article> <!-- card-body end .// -->
                                <div class="border-top card-body text-center">Já tem uma conta? <a href="">Login</a></div>
                            </div> <!-- card.// -->

                        </div> <!-- code-wrap.// -->
                    </aside>
                </div>
            </section>


        </main>

    </form>